page-tinderQ2 {
  .content-md, .content-ios{
    background: #b2284e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #b2284e, #2a73d3); /* Standard syntax */
  }

  #card-stack {
    width: 90%;
    height: 200px;
    background: #047915;
    border: 10px solid #4cb338;
    margin: 100px auto 0;
    position: relative;
  }
 
  #card-stack ion-card {
    border-radius: 5px;
    background: #ffffff;
    position: absolute;
    text-align: center;
    top: 3%;
    height: 90%;
  }
  ion-card ion-card-content{
    background: #ffffff;
  }

  ion-card ion-row{
    background: #ffffff;
  }
}
