
  <ion-header no-border>
    <ion-navbar color="primary" hideBackButton="true">
      <ion-buttons start>
  
      </ion-buttons>
      <ion-title>
        Chat-Bot
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-left (click)="login()"><ion-icon name="contact"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <div *ngFor="let message of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
    <div *ngIf="user._id !== message.userId">
      <img class="profile-pic left" [src]="toUser.pic" />
      <div class="chat-bubble left slide-left">
          
         <div class="message" [innerHTML]="message.text" autolinker></div>
          
        <div class="message-detail">
          <span class="bold">{{toUser.username}}</span>
        </div>
          
        <div *ngIf="message.chips" style="margin-bottom:20px;" text-center>
          <ion-scroll zoom="false" scrollX="true" class="scroll">
            <ion-row text-center>
              <div class="mother">
                <div style="white-space: nowrap;" *ngFor="let chip of message.chips" class="area" style="margin-right:5px;">
                  <ion-badge style="background-color: #386ecd" *ngIf="marqueId == 2" (click)="sendText(chip, messages, 2000)">{{chip}}</ion-badge>
                </div>
              </div>
            </ion-row>
          </ion-scroll>
        </div>
      </div>
    </div>
    <div *ngIf="user._id === message.userId">
      <img class="profile-pic right" [src]="user.pic" />

      <div class="chat-bubble right slide-right">
          
        <div class="message" [innerHTML]="message.text" autolinker></div>

        <div class="message-detail">
          <span class="bold">{{user.username}}</span>
        </div>

      </div>
    </div>
    <div class="cf"></div>
  </div>
</ion-content>

<ion-footer>
    <ion-grid>
      <ion-row>
        <!-- <ion-col>
            <button ion-button clear (click)="listenForSpeech()"><ion-icon class="footer-btn" name="mic"></ion-icon></button>
        </ion-col> -->
        <ion-col col-8>
            <ion-input [(ngModel)]="newMessage" placeholder="Send a message..."></ion-input>
        </ion-col>
        <ion-col>
            <button ion-button clear (click)="sendMessage()"><ion-icon class="footer-btn" name="send"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>