page-signup {
    .splash-bg {
        background: #b2284e; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Firefox 3.6 to 15 */
        background: linear-gradient(-90deg, #b2284e, #2a73d3); /* Standard syntax */
        height: 100%;
      }
    
      .splash-relative{
        position: absolute;
        width: 60%;
        margin-right: 20%;
        margin-left:20%;
        height:100%;
      }
      .splash-logo {
        margin: auto;
        background: url('../assets/img/logo2.png') repeat transparent;
        background-size: 100%;
        width: 128px;
        height: 128px;
      }
    
      .splash-intro{
        text-align:center;
        color: white;
        font-size: 2em;
      }
      .splash-new{
        position: relative;
        font-size: 20px;
      }
      .splash-end{
        position:fixed;
        bottom: 20px;
        width:60%;
        text-align: center;
      }
    
      .splash-end a{
        color: white;
      }
    
      .item-md, .item-ios{
        background-color: transparent;
        padding-right: 16px;
      }
    
      button.login {
        margin-top: 25px;
        max-width: 180px;
        background-color: transparent;
        border: 1px solid white;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        &.activated {
          background-color: rgb(220, 220, 220);
        }
      }
    
      input{
        color: white;
      }
    
      .white-text{
        color:white;
      }
    
      .item-input ion-label{
        width:20px;
      }
    
      .item-md.item-block .item-inner, .item-ios.item-block .item-inner{
        padding-right:0px;
      }
      
      .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
        color: #ffffff;
      }

      .scroll-content{
        height: 800px;
      }

      .item-input ion-label{
        width: 120px !important;
      }

      .item-ios, .item-md{
        font-size: 0.8em;
        background-color: transparent;
      }

      .white-text{
        color:white;
      }

      .content-md hr, .content-ios hr{
        background-color: rgba(255, 255, 255, 1);
      }

}

.ios, .md {
  
     page-signup {
  
         p {
             font-size: 0.8em;
             color: #d2d2d2;
         }
  
         .swiper-slide {
             display: block;
         }
  
         ion-label, .select-text {
             margin-left: 10px;
         }
  
         ion-input, ion-select, ion-textarea {
             background-color: transparent;
             padding: 5px 10px;
         }
  
         .invalid {
             border: 1px solid #ea6153;
         }


  
     }
  
 }