<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons start>

    </ion-buttons>
        <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>   
    <ion-title>
      S'inscrire
    </ion-title>
    <ion-buttons end>
      <button *ngIf="lastSlide" ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="splash-bg">
     <ion-slides pager #signupSlider>
  
       <ion-slide>
        <p *ngIf="submitAttempt" style="color: #ea6153;">S'il-vous-plait, remplissez les champs suivants.</p>
          <form [formGroup]="slideOneForm">
      
              <ion-item>
                  <ion-label floating class="white-text">Nom *</ion-label>
                  <ion-input formControlName="firstName" type="text"></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label floating class="white-text">Prénom *</ion-label>
                  <ion-input formControlName="lastName" type="text"></ion-input>
              </ion-item>
      
              <ion-item>
                  <ion-label floating class="white-text">Téléphone *</ion-label>
                  <ion-input formControlName="phone" type="number"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label floating class="white-text">E-Mail *</ion-label>
                  <ion-input formControlName="email" type="email"></ion-input>
              </ion-item>
          </form>
       </ion-slide>
       <ion-slide>
          <ion-list>
            <form [formGroup]="slideTwoForm">

              <ion-item>
                  <ion-label floating class="white-text">Société</ion-label>
                  <ion-input formControlName="company" type="text"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label floating class="white-text">Adresse</ion-label>
                  <ion-textarea formControlName="address"></ion-textarea>
              </ion-item>

              <ion-item>
                  <ion-label floating class="white-text">Code Postal</ion-label>
                  <ion-input formControlName="postcode" type="text"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label floating class="white-text">Ville</ion-label>
                  <ion-input formControlName="postcode" type="text"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label floating class="white-text">Fonction</ion-label>
                  <ion-input formControlName="job" type="text"></ion-input>
              </ion-item>
            </form>
        </ion-list>
       </ion-slide>
       <ion-slide>
          <ion-list>
            <p>Quels sont vos secteurs d'activités/métiers ?</p>
            <div class="chart-container">
                <div class="network-canvas" [visNetwork]="visNetwork" [visNetworkData]="visNetworkData" [visNetworkOptions]="visNetworkOptions" (initialized)="networkInitialized()"></div>
            </div>
            <button type="button" class="btn btn-default" (click)="addNode()">Add node</button>
            <form [formGroup]="slideThreeForm">
              <ion-item hidden>
                  <ion-label floating class="white-text">Métier</ion-label>
                  <ion-input formControlName="activity" type="text"></ion-input>
              </ion-item>
            </form>
        </ion-list>
       </ion-slide>
       <ion-slide>
          <ion-list>
            <p>Êtes-vous déjà client ?</p>
            <form [formGroup]="slideFourForm">
              <ion-item hidden>
                  <ion-label floating class="white-text">Client</ion-label>
                  <ion-input formControlName="client" type="text"></ion-input>
              </ion-item>
            </form>
        </ion-list>
       </ion-slide>

       <ion-slide>
          <ion-list>
              <p>Quels sont vos besoins ?</p>
              <form [formGroup]="slideFiveForm">
                <ion-item hidden>
                    <ion-label floating class="white-text">Besoins</ion-label>
                    <ion-input formControlName="need" type="text"></ion-input>
                </ion-item>
              </form>
          </ion-list>
          <button ion-button full color="primary" (click)="save()">Create Account!</button>
       </ion-slide>
  
     </ion-slides>
    </div>
 </ion-content>
 
<!-- <ion-content>
  <div class="splash-bg">
      <div class="splash-relative">
        <form (submit)="doSignup()">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Nom *</ion-label>
                  <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Prénom *</ion-label>
                  <ion-input type="text" [(ngModel)]="account.firstName" name="firstName"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Phone *</ion-label>
                  <ion-input type="number" [(ngModel)]="account.phone" name="phone"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Fax</ion-label>
                  <ion-input type="number" [(ngModel)]="account.fax" name="fax"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>E-Mail *</ion-label>
                  <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Adresse</ion-label>
                  <ion-input type="text" [(ngModel)]="account.address" name="address"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Code Postal</ion-label>
                  <ion-input type="number" [(ngModel)]="account.postcode" name="postcode"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Ville</ion-label>
                  <ion-input type="text" [(ngModel)]="account.city" name="city"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Société</ion-label>
                  <ion-input type="text" [(ngModel)]="account.company" name="company"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label fixed>Fonction</ion-label>
                  <ion-input type="text" [(ngModel)]="account.job" name="job"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
                
          </ion-grid>
          <div padding>
            <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' }}</button>
          </div>
        </form>
      </div>
  </div>
</ion-content> -->